{% if field.field.widget.input_type == "checkbox" %}
<div class="field check">
  {{ field }} <label for="{{ field.id_for_label }}">{{ field.label }}</label>
  {% if field.help_text %}<span class="help">{{ field.help_text }}</span>{% endif %}
  {{ field.errors }}
</div>
{% else %}
<div class="field">
  <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %} <span class="muted" aria-hidden="true">*</span>{% endif %}</label>
  {{ field }}
  {% if field.help_text %}<span class="help">{{ field.help_text|safe }}</span>{% endif %}
  {{ field.errors }}
</div>
{% endif %}
